
	path = kali/kalitorify
	url = https://github.com/BrainFuckSec/kalitorify
[submodule "kali/katoolin"]
	path = kali/katoolin
	url = https://github.com/LionSec/katoolin
[submodule "kali/wifite2"]
	path = kali/wifite2
	url = https://github.com/derv82/wifite2
[submodule "bt5-scripts"]
	path = bt5-scripts
	url = https://github.com/thomhastings/bt5-scripts
[submodule "tanto"]
	path = tanto
	url = https://github.com/thomhastings/tanto
[submodule "ktanto"]
	path = ktanto
	url = https://github.com/ksoona/tanto
[submodule "rice"]
	path = rice
	url = https://github.com/thomhastings/rice
[submodule "ptf"]
	path = ptf
	url = https://github.com/trustedsec/ptf
[submodule "wifite2"]
	path = wifite2
	url = https://github.com/derv82/wifite2
[submodule "katoolin"]
	path = katoolin
	url = https://github.com/lionsec/katoolin
[submodule "kalitorify"]
	path = kalitorify
	url = https://github.com/brainfucksec/kalitorify
[submodule "tails"]
	path = tails
	url = https://git-tails.immerda.ch/tails
[submodule "knife"]
	path = knife
	url = https://github.com/kaneda/knife
